body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #B2EBF2;
    background-color: #263238;
}

.container {
    background-color: #37474F;
    position: fixed;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 100%;
}

.left-container {
    display: flex;
    flex-flow: column;
    width: 20%;
    height: 100%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #2E3C43;
}

.title {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 7%;
    padding: 10px 0;
    font-size: 24px;
    font-weight: bold;
    color: #E0F2F1;
    background-color: #00796B;
}

.title img {
    height: 80%;
    gap: 10px;
    margin-right: 20px;
}

.title div {
    margin-top: 10px;
    color: #fff;
    font-size: 2.5vw;
}

#history-container {
    display: flex;
    flex-flow: column;
    overflow-y: auto;
    height: 93%;
    background-color: #2E3C43;
    padding: 20px;
    gap: 10px;
}

#new-chat {
    background-color: #0097A7;
    color: #ffffff;
    padding: 10px 15px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
}

.history-panel {
    margin-bottom: 10px;
    padding: 20px;
    background-color: #455A64;
    color: #E0F2F1;
    border-radius: 30px;
    transition: background-color 0.3s;
    font-weight: bold;
    text-overflow-ellipsis: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.history-panel:hover {
    background-color: #546E7A;
}

.chat-content {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 80%;
    height: 100%;
    background-color: #2E3C43;
}

#messages-container {
    display: flex;
    flex-grow: 1;
    flex-flow: column;
    align-items: flex-start;
    overflow-y: auto;
    padding: 20px;
    background-color: #37474F;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.message {
    overflow-wrap: break-word;
    margin: 20px 0;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.message.user-message {
    align-self: flex-end;
    margin-right: 50px;
    margin-left: auto;
    background-color: #00ACC1;
    color: #ffffff;
    max-width: 60%;
}

.message.bot-message {
    background-color: #455A64;
    color: #E0F2F1;
    max-width: 80%;
}

.input-container {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    height: auto;
    max-height: 100px;
    padding: 15px;
    gap: 10px;
    background-color: #263238;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.input-container input {
    width: calc(100% - 120px);
    padding: 10px 15px;
    border: 2px solid #4DD0E1;
    border-radius: 20px;
    font-size: 16px;
    color: #E0F2F1;
    background-color: #37474F;
}

.input-container input:focus {
    outline: none;
    border-color: #80DEEA;
}

.input-container button {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #0097A7;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
}

.input-container button:hover {
    background-color: #00838F;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #0097A7;
    border-radius: 6px;
    border: 3px solid #263238;
}

::-webkit-scrollbar-track {
    background-color: #263238;
    border-radius: 6px;
}

::-webkit-scrollbar-corner {
    background-color: #263238;
}

/* tuka e za popupa */
#popup {
    position: fixed;
    top: 10%;
    left: 25%;
    width: 50%;
    height: 60%;
    padding: 20px;
    background-color: #333;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    z-index: 1000;
    box-sizing: border-box;
}

#popup::-webkit-scrollbar {
    width: 12px;
}

#popup::-webkit-scrollbar-track {
    background: #1f1f1f;
}

#popup::-webkit-scrollbar-thumb {
    background: #888;
}

#popup::-webkit-scrollbar-thumb:hover {
    background: #555;
}

input[type=text], input[type=number], textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #555;
    border: none;
    color: #fff;
}

textarea {
    height: 100px;
    resize: vertical;
}

button {
    width: auto;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #777;
    border: none;
    color: #fff;
}

input[type=radio] {
    margin: 0 5px 0 0;
}

label {
    display: block;
    margin: 10px 0 5px;
}

#question-container {
    flex: 0 0 50%;
    padding: 5px;
    margin-bottom: 10px;
}

.question-label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
}

.question-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.question-input:checked ~ .question-label .custom-checkbox {
    background-color: #2196F3;
}

.custom-checkbox:after {
    content: "";
    position: absolute;
    display: none;
}

.question-input:checked ~ .question-label .custom-checkbox:after {
    display: block;
}

.question-label .custom-checkbox:after {
    left: 9px;
    top: 5px;
    width: 8px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

#submit-form {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #0097A7;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

#riasec-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}